$color: #000;
$border: #ccc;

$active-state: rgba(0, 0, 0, 0.3);
$success-state: rgba(161, 240, 69, 1);
$error-state: rgba(240, 87, 108, 1);

$disabled-bkg: #ccc;
$disabled-color: #000;

$primary-bkg: #2884f6;
$primary-color: #fff;

.Button {
	display: inline-block;
	padding: 10px 20px;
	border-radius: 4px;
	border: 1px solid $border;
	color: $color;
	margin-right: 15px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;

	&:focus {
		outline: none;
	}

	&:active {
		box-shadow: inset 2px 2px 1px $active-state;
	}

	&:disabled {
		background: $disabled-bkg;
		color: $disabled-color;
		cursor: not-allowed;
	}

	&.success {
		background: $success-state;
	}

	&.error {
		background: $error-state;
	}

	&.primary {
		background: $primary-bkg;
		color: $primary-color;
	}
}
